
<h>Hi, please talk to your driver</h>
<style>
div {
  background: #ccc;
  padding: 20px;
  width: 300px;
  display: flex;
  flex-direction:column;
  align-items: flex-start;
}

p {
  background: #fff;
  padding: 10px;
}

.other {
  align-self: flex-end;
  background: #ddd;
}</style>

<body>
<div>
<p class="other">Hello, I am your driver. Nice to meet you!</p>
<p>Hi, nice to meet you too.</p>
<p class="other">I am going to pick you up.</p>
<p class="other">Please wait for me.</p>
<p>Alright. Thanks!</p>

</div>
Chat Box:
<br>
<textarea rows="2" cols="40"></textarea>
<br>
<button onclick="send('{{host}}','{{port}}','{{trip_id}}')">Send</button>
<button onclick="back('{{host}}','{{port}}','{{trip_id}}')" >Back</button>
</body>
<script type="text/javascript" src="../static/chat.js"></script>

