<!-- 
<h>Hi, please talk to your driver</h>
<style>
div {
  background: #ccc;
  padding: 20px;
  width: 300px;
  display: flex;
  flex-direction:column;
  align-items: flex-start;
}

p {
  background: #fff;
  padding: 10px;
}

.other {
  align-self: flex-end;
  background: #ddd;
}</style>

<body>
<div>
<p class="other">Hello, I am your driver. Nice to meet you!</p>
<p>Hi, nice to meet you too.</p>
<p class="other">I am going to pick you up.</p>
<p class="other">Please wait for me.</p>
<p>Alright. Thanks!</p>

</div>
Chat Box:
<br>
<textarea rows="2" cols="40"></textarea>
<br>
<button onclick="send('{{host}}','{{port}}','{{trip_id}}')">Send</button>
<button onclick="back('{{host}}','{{port}}','{{trip_id}}')" >Back</button>
</body>
<script type="text/javascript" src="../static/chat.js"></script> -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/chat.css">
  </head>

  <body>
    <div class="header">
      <h2>Please be patient and driver is on the way to you in a moment.</h2>
      <h2>Leave a message here!</h2>
      <br>
    </div>
    <br><br>
    <div class="outerBox">
      <div class="innerBox" id="driver">
          <p>Hello, I am your driver. Nice to meet you!</p></br>
          <p>I am on the way to picking you up in a moment.</p></br>
          <p>If you have any queries, </p></br>
          <p>please leave me a message. Thanks!</p></br>
      </div>

      <form method="POST">
        <textarea id="txt" name="text" placeholder="write your message here"></textarea>
      </form>
      <br>
      <button id="btn" name="submit" onclick="sendMessage('{{host}}','{{port}}')">Send</button>
      <button id="backBtn" onclick="back('{{host}}','{{port}}','{{trip_id}}')" >Go Back</button>
    </div>
  </body>
</html>

<script type="text/javascript" src="../static/chat.js"></script>
<script type="text/javascript" src="../static/check_token.js"></script>

