<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/layout.css">
    </head>
    <body>
        <div class="header">
            <h2>Welcome to <span style="color: white;"> TrueNoob </span> Taxi<h>
                <br>
                <div id="datetime">
                <script type="text/javascript" src="../static/show_current_time.js"></script>
                </div>
        </div>
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>
