
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../static/review.css">
</head>

<body>
<div class="header">
    <h2>Thank You For Tripping with Us</h2>
    <h2>Hope You Enjoy the Trip</h2>
    <br>
</div>
<br><br>
<form method="post" name="review">
    How do you feel about this trip? <input type="radio" name="score">bad 
    <input type="radio" name="score" checked="checked">descent
    <input type="radio" name="score" checked="checked">wonderful
    <br><br>
    <textarea rows="10" cols="50" placeholder="write your review here"></textarea>
    <br><br>
    <button>Submit Review</button>
</form>
</body>
